<launch>
  <!-- launch extrinsic_camera_calibration.launch before launch this file -->
  <arg name="mode" default="action" doc="mode type [calibration, action]"/>
  <arg name="robot_name" default="$(env ROBOT_NUM)" doc="Unique namespace for the robot (turtlebot#)"/>
  
  <!-- lane detection -->
  <group ns="$(arg robot_name)">
    <node pkg="turtlebot3_autorace_detect" type="detect_lane" name="detect_lane" output="screen">
      <rosparam command="load" file="$(find turtlebot3_autorace_detect)/param/lane/lane.yaml" />
      <param if="$(eval mode == 'calibration')" name="/is_detection_calibration_mode" value="True"/>
      <param if="$(eval mode == 'action')" name="/is_detection_calibration_mode" value="False"/>    
      <remap from="/detect/image_input" to="/$(arg robot_name)/camera/image_projected_compensated" />
      <remap from="/detect/image_input/compressed" to="/$(arg robot_name)/camera/image_projected_compensated/compressed" />
      <remap from="/detect/image_output" to="/$(arg robot_name)/detect/image_lane" />
      <remap from="/detect/image_output/compressed" to="/$(arg robot_name)/detect/image_lane/compressed" />
      <remap from="/detect/image_output_sub1" to="/$(arg robot_name)/detect/image_white_lane_marker" />
      <remap from="/detect/image_output_sub1/compressed" to="/$(arg robot_name)/detect/image_white_lane_marker/compressed" />
      <remap from="/detect/image_output_sub2" to="/$(arg robot_name)/detect/image_yellow_lane_marker" />
      <remap from="/detect/image_output_sub2/compressed" to="/$(arg robot_name)/detect/image_yellow_lane_marker/compressed" />
      <remap from="/detect/white_line_reliability" to="/$(arg robot_name)/detect/white_line_reliability" />
      <remap from="/detect/yellow_line_reliability" to="/$(arg robot_name)/detect/yellow_line_reliability" />
      <remap from="/detect/lane" to="/$(arg robot_name)/detect/lane" />
    
    </node>
  </group>
</launch>
